*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/*HEADER*/
header{
    background: pink;
    padding: 1em 0 1em 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #39a900;
    position: sticky;
    top: 0;
    z-index: 1;
}
.contenedor-header {
    display: flex;
    height: 10%;
    width: 100%;
    position: absolute;
    text-align: left;
}
.contenedor-header img{
    height: 60px;
    width: 95px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}
.titulo-header{
    display: flex;
    flex-direction: column;
    padding-right: 17px;
    box-sizing: border-box;
}
.titulo-header, 
.descripcion-titulo{
    font-weight: 600;
    position: relative;
    z-index: 1;
    color: white;
}
.slna{
    font-weight: 800;
    font-size: 16px;
    color: white;
}
.contenedor-header,
.titulo-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}






/*CONTENIDO*/
.main{
    display: flex;
    flex: 1;
}

:root {
    /* ===== Colors ===== */
    --body-color: #f2f2f2;
    --sidebar-color: #00324D;
    --primary-color: #474747;
    --primary-color-light: #474747;
    --toggle-color: #ddd;
    --text-color: #f2f2f2;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: calc(100% - 90%);
    left: 0;
    height: 90%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text {
    opacity: 0;
}
/* =========================== */

.sidebar .header {
    position: relative;
    margin-top: 5px;
}

.sidebar .header .image-text {
    display: flex;
    align-items: center;
    padding: 5px 0 30px 5px;
    
    border-bottom: 1px solid #d9d9d9;
}
.sidebar .header .logo-text {
    display: flex;
    flex-direction: column;
}
.header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar .header a{
    text-decoration: none;
    color: var(--text-color);
}

.sidebar .header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .header .image img {
    width: 50px;
    height: 55px;
    border-radius: 50%;
}

.sidebar .header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar .header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 30px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}


.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}
.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}
.mode .sun-moon i.sun {
    opacity: 0;
}
body.dark .mode .sun-moon i.sun {
    opacity: 1;
}
body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}


/* CONTENIDO DE HOME */
.home {
    position: absolute;
    /* top: 10%;
    bottom: 10%;
    left: 250px;
    height: 90vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05); */
}

.sidebar.close ~ .home {
    left: 78px;
    height: 90vh;
    width: calc(100% - 78px);
}
body.dark .home .text {
    color: var(--text-color);
}


.navbar-content1{
    padding: 25px 0 40px 0;
    display: flex;
    justify-content: space-between;
}
.notification-content{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.titulo-home{
    margin-left: 60px;
    font-size: 22px;
    color: #242526;
}
.navbar-content2{
    display: block;
}

hr{
    background-color: #d9d9d9;
    width: 95%;
    margin-left: 30px;
    

}
.pan{
    padding: 10px 0 10px 50px;
    display: flex;
    justify-content: space-between;
}
.flecha-pan{
    font-size: 22px;
}
.pan a{
    text-decoration: none;
    color: #242526;
}*/





/*FOOTER*/
footer{
    background-color: #39a900;
    color: #fff;
    text-align: center;
    padding: 1em 0 1em 0;
    height: 0%;
    position: fixed;
    z-index: 1000;
}
.footer-container {
    background-color: #39a900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container img {
    max-width: 100%;
    height: auto;
}
.url_footer a {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 700;
}

.url_footer a:hover {
    color: #ddd;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .footer {
        padding: 20px 10px;
    }

    .url_footer a {
        display: block;
        margin: 5px 0;
    }
    .titulo-header{
        font-size: 12px;
    }
    .slna{
        font-size: 14px;
    }
    .contenedor-header img{
        height: 50px;
        width: 70px;
    }
    
}
