@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 100vh;
}
/*header*/
.header {
    padding: 0px 12px 21px 0px;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #39a900;
    position: sticky;
    top: 0;
    z-index: 1;
}
.contenedor-header {
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: 0;
    text-align: left;
}
.contenedor-header img{
    height: 90px;
    width: 125px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.titulo-header{
    width: 250px;
    flex-direction: column;
    padding-right: 17px;
    box-sizing: border-box;
}

.titulo-header, 
.descripcion-titulo{
    margin: 0;
    font-family: Work Sans;
    font-weight: 600;
    align-self: stretch;
    position: relative;
    z-index: 1;
    color: white;
}
.slna{
    font-weight: 800;
    font-size: 22px;
    color: white;
}

.contenedor-header,
.titulo-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}








/*contenido*/



.sidebar{
    position: fixed;
    left: 0;
    width: 280px;
    background: #00324d;
    z-index: 100;
    transition: all 0.5s ease;
    font-family: Work Sans;
    
}
.sidebar.close{
    width: 78px;
    
}
.sidebar .profile-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-profile{
    display: block;
}
.sidebar .profile-details .profile_name{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .profile-details .profile_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .profile-details .job{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .profile-details .job{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.profile-details .profile-content img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    background: #2c2c2c;
    transition: all 0.5s ease;
    padding: 3px;
}




.sidebar .nav-links{
    height: 100%;
    padding: 30px 0 130px 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: #2c2c2c;
}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
    display: block
}
.sidebar .nav-links li i{
    height: 63px;
    min-width: 78px;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

/*fin de sidebar*/








/*seccion de contenido*/
.home-section{
    position: relative;
    height: 100vh;
    left: 280px;
    width: calc(100% - 280px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-content{
    position: sticky;
    top: 110px;
    z-index: 100;
}

.home-section .navbar1{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section .navbar1 h2{
    font-family: Work Sans;
    color: #2c2c2c;
    font-size: 35px;

}




.home-section .navbar2 hr{
    height: 1px;
    background-color: #2c2c2c;
    margin: 20px;
}
.home-section .navbar2 .volver{
    margin: 0 30px;
    align-items: center;
    justify-content: baseline;
    font-size: 20px;
    display: flex;
    
}
.home-section .navbar2 .volver a{
    font-family: Work Sans;
    color: #2c2c2c;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}


.home-section .home-content .bx-bell{
    border-radius: 50%;
    padding: 10px;
    font-size: 21px;
    background-color: #d9d9d9;
    text-align: center;
    justify-content: center;
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #2c2c2c;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}


@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
        display: none;
    }
}
/*fin seccion contenido*/




/*contenido adentro de contenido*/

.contenido-abajo{
    display: flex;
}


/*1*/
.perfil1{
    margin: 20px;
}


.card {
    background: #d9d9d9;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    font-family: Work Sans;
    margin: 80px 40px 30px 30px;
    height: 400px;
    width: 800px;

}
.card h2 {
    margin: 0;
    padding: 0rem 1.5rem 1.5rem;
    font-size: 25px;

}
.card .desc {
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.card a{
    text-decoration: none;
    color: black;
}
.card i{
    font-size: 30px;
    padding-left: 25px;
    
}
.img-avatar img{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    top: 15px;
    left: 150px;
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
}


.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("/img/perfil1.jpg");
    background-position: bottom center;
    background-size: cover;
}

/*2*/
.linea{
    width: 1px;
    background-color: #2c2c2c;
    margin: 20px;

}

/*3*/

h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    font-family: Work Sans;
    padding-bottom: 20px;
}

.card-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Work Sans;
}

.card1 {
    background-color: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 15px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.card-content p {
    margin: 5px 0;
    color: #555;
    font-size: 0.9rem;
}







/*fin contenido dentro de contenido*/




/*footer*/
.footern {
    background-color: #39a900;
    color: #fff;
    font-family: Work Sans;
    text-align: center;
    padding: 20px 0; 
}
.footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.url_footer a{
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.url_footer a:hover {
    color: #ddd;
    text-decoration: underline;
}

.hero{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


