

.Filtrar .contacto {
    margin-right: 100px;
    background-color: #fff;
    padding: 10px;
}
.pan{
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 50px;
}
.contacto{
    border: none;
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: 600;
}





/* stilo icono de enviar mensaje a usuarios */
.mensaje{
    margin: 20px 0 20px 50px ;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mensaje p{
    font-size: 18px;
    padding-left: 8px;
    font-weight: 600;
}
.mensaje .bxs-message-detail{
    font-size: 40px;
}





.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 80px;
    max-width: 1500px;
}

.card {
    background-color: #d3d3d3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    width: 550px;
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Mantiene el color del texto */
    transition: 0.3s;
}


.card-image {
    margin-right: 30px;
}

.card-image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.card-info {
    font-size: 14px;
    line-height: 1.5;
}

.card-info h4 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.card-info p {
    margin: 5px 0;
    color: #555;
}
@media only screen and (max-width: 500px) {
    .navbar-content2{
        display: flex;
        justify-content: flex-end;
    }
    .Filtrar .contacto{
        margin: 0 !important;
    }
    .card{
        width: 340px;
        padding: 10px;
    }
    .card-image{
        margin: 0 10px 0 0;
    }
    .card-image img{
        height: 100px;
        width: 100px;
    }
    .mensaje{
        display: flex;
        justify-content: flex-start;
        margin: 20px;
    }
    .mensaje .btn-mensaje{
        font-size: 35px;
    }
}
@media only screen and (max-width: 400px) {
    .card{
        width: 280px;
        padding: 10px;
    }
    .card-image{
        margin: 0 10px 0 0;
    }
    .card-image img{
        height: 80px;
        width: 80px;
    }
    .card-info p{
        font-size: 0.9em;
    }
    .contacto{
        font-size: 0.9em;
    }
    .mensaje .btn-mensaje{
        font-size: 30px;
    }
}