.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 340px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #00324d;
    font-family: Work Sans;
}
form {
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}
.wrapper p{
    color: white;
    text-align: justify;
    padding-top: 40px ;
    padding-bottom: 40px;

}

.wrapper a{
    background: #2c2c2c;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: 3px solid transparent;
    width: 200px;
    text-decoration: none;
    margin-left: 10px;
}
button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}


.wrapper .botones1{
    display: flex;
}